button,
input[type='button'],
input[type='submit'],
select,
input[type='checkbox'],
input[type='radio'] {
    background-image: -webkit-linear-gradient(#ededed, #ededed 38%, #dedede);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    color: #444;
    font: inherit;
    margin: 0 3px 0 0px;
    outline: none;
    text-shadow: 0 1px 0 rgb(240, 240, 240);
}
button:hover,
input[type='button']:hover,
input[type='submit']:hover,
select:hover,
input[type='checkbox']:hover,
input[type='radio']:hover {
    background-image: linear-gradient(rgb(240, 240, 240), rgb(240, 240, 240) 38%, rgb(224, 224, 224));
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 0px, rgba(255, 255, 255, 0.952941) 0px 1px 2px inset;
    color: black;
    border-color: rgba(0, 0, 0, 0.298039);
}
button,
input[type='button'],
input[type='submit'],
select {
    padding: 2px 8px;
    height: 26px;
}
select {
    padding: 2px;
}
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input:not([type]),
textarea {
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 191, 191);
    border-image: initial;
    border-radius: 2px;
    font: inherit;
    margin: 0px;
    padding: 3px 3px 4px;
    outline: none;
}
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input:not([type]) {
    height: 26px;
}
input[type='checkbox'],
input[type='radio'] {
    position: relative;
    vertical-align: middle;
    height: 15px;
    width: 15px;
    margin-top: 2px;
}
input[type='radio'] {
    border-radius: 100%;
}
input[type='radio']:checked::before {
    background-color: #666;
    border-radius: 100%;
    content: '';
    display: block;
    position: absolute;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
    transition: border-color 200ms;
    border-color: rgb(77, 144, 254);
    outline: none;
}
