html,
body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: "Open Sans", sans-serif;
    width: 700px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
body {
    max-width: 700px;
    background: #F0F0F0;
    padding: 10px;
    box-sizing: border-box;
}

label >input:disabled+span {
    color: gray;
}
input[type=checkbox],
input[type=radio] {
    margin-right: 3px;
}
label > input[type=checkbox],
label > input[type=radio] {
    vertical-align: middle;
}
label > input[type=checkbox] + span,
label > input[type=radio] + span {
    vertical-align: middle;
}
#title {
    position: absolute;
    top: 12px;
    right: 15px;
    font-weight: bold;
    font-size: 15px;
}
#pages {
    flex-grow: 1;
    border: 1px solid #A7A7A7;
    padding: 10px;
    margin: 0 0 10px 0;
    min-height: 280px;
    background: white;
}
#pages > div {
    height: 100%;
    overflow: auto;
}

#pages > div:not(:last-child) {
    display: flex;
    flex-direction: row;
}
#pages > div:not(.active) {
    display: none;
}
#pages > div > div:first-child {
    margin-right: 10px;
}
#pages > div > div {
    width: 50%;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
}
#pages > div > div > *:not(:first-child) {
    margin-top: 5px;
}
#buttons {
    flex-shrink: 0;
    text-align: right;
}
#buttons > #restore_defaults {
    float: left;
}
#manual {
    color: #990000;
}
#refresh {
    color: #009900;
}
fieldset {
    border: 1px solid #A7A7A7;
    box-sizing: border-box;
}
th, td {
    text-align: left;
}
button.full {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
button.half1,
button.half2 {
    width: calc(50% - 20px);
    margin-bottom: 5px;
}
button.half2 {
    float: right;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table button,
table select {
    width: 100%;
}
#translationsTable {
    border: 1px solid #A7A7A7;
    cursor: default;
    overflow-y: scroll;
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    -moz-user-select: none;
}
#translationsTableHead th:last-child {
    text-align: right;
    padding-right: 20px;
}
#translationsTable td:last-child {
    text-align: left;
}
#translationsTableHead {
    margin: 3px 1px 2px 1px;
    user-select: none;
    -moz-user-select: none;
}
#translationsTable tr.active {
    background: highlight;
}
#translationsTableHead th,
#translation_list td {
    padding-left: 5px;
}
.dialogOverlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.25);
}
.dialog {
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    border: 1px solid #A7A7A7;
    background: #FFFFE1;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.59);
    padding: 10px;
}
.dialog.prompt > div > input {
    width: 100%;
}
.dialog > h2,
.dialogButtons {
    text-align: center;
}
.dialog > h2 {
    margin: 0 0 10px 0;
}
.dialogButtons {
    margin-top: 10px;
}
#loadingIndicator {
    display: none;
    height: 22px;
}
#loadingIndicator,
#language_config_table button {
    box-sizing: border-box;
}
.warning {
    border: 2px solid #E88E00;
    border-radius: 4px;
    margin-top: 2px;
    padding: 3px;
}
.warning > span:first-child {
    color: #E88E00;
    font-weight: bold;
}

#tabs {
    height: 28px;
    padding: 0 0 0 0;
    overflow: visible;
}

#tabs>div {
    position: relative;
    width: 160px;
    height: 28px;
    overflow: hidden;
    float: left;
    margin: 0 -22px 0 0;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.tab-box {
    height: 33px;
    background: lightgray;
    border-radius: 4px;
    border: 1px solid #A7A7A7;
    outline: 1px solid transparent;
    margin: 0 10px 0;
    -webkit-transform: perspective(100px) rotateX(20deg);
    -moz-transform: perspective(100px) rotateX(20deg);
    transform: perspective(100px) rotateX(20deg);
}

.tab-label {
    position: absolute;
    top: 7px;
    left: 23px;
}

#tabs>div:nth-child(1) {
    z-index: 3;
}
#tabs>div:nth-child(2) {
    z-index: 2;
}
#tabs>div:nth-child(3) {
    z-index: 1;
}
#tabs>div.active {
    z-index: 40;
    padding-bottom: 1px;
}

#tabs>div.active .tab-box {
    background: white;
}
