<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8"/>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="../dist/options.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <div id="tooltip"></div>
            <div id="tabs">
                <div class="active"><div class="tab-box"></div><div class="tab-label" data-l10n-id="tabs_context_title"></div></div>
                <div><div class="tab-box"></div><div class="tab-label" data-l10n-id="tabs_quick_title"></div></div>
                <div><div class="tab-box"></div><div class="tab-label" data-l10n-id="tabs_language_title"></div></div>
                <div><div class="tab-box"></div><div class="tab-label" data-l10n-id="tabs_help"></div></div>
            </div>
            <div id="pages">
                <div class="active">
                    <div>
                        <div><label><input type="checkbox" id="context_enabled"><span data-l10n-id="tabs_context_enable"></span></label></div>
                        <div><label><input type="checkbox" id="context_simple"><span data-l10n-id="tabs_context_simple"></span></label></div>
                        <div><label><input type="checkbox" id="context_multiWindow"><span data-l10n-id="tabs_result_multiWindow"></span></label></div>
                    </div>
                    <div>
                        <fieldset>
                            <legend data-l10n-id="tabs_results_title"></legend>
                            <div><label><input type="radio" name="context_method" id="context_method0" value="0"><span data-l10n-id="tabs_results_syn"></span></label></div>
                            <div><label><input type="radio" name="context_method" id="context_method1" value="1"><span data-l10n-id="tabs_results_pocket"></span></label></div>
                            <div><label><input type="radio" name="context_method" id="context_method2" value="2"><span data-l10n-id="tabs_results_tab"></span></label></div>
                            <div><label><input type="radio" name="context_method" id="context_method3" value="3"><span data-l10n-id="tabs_results_mini"></span></label></div>
                        </fieldset>
                    </div>
                </div>
                <div>
                    <div>
                        <div><label><input type="checkbox" id="quick_enabled"><span data-l10n-id="tabs_quick_enable"></span></label></div>
                        <fieldset>
                            <legend data-l10n-id="tabs_quick_keys_title"></legend>
                            <label><input type="checkbox" id="quick_ctrl"><span data-l10n-id="tabs_quick_keys_ctrl"></span></label>
                            <label><input type="checkbox" id="quick_shift"><span data-l10n-id="tabs_quick_keys_shift"></span></label>
                            <label><input type="checkbox" id="quick_alt"><span data-l10n-id="tabs_quick_keys_alt"></span></label>
                            <div class="warning" id="quick_warning_shift" style="display: none;">
                                <span data-l10n-id="tabs_quick_keys_warning"></span>
                                <span data-l10n-id="tabs_quick_keys_warning_shift"></span>
                            </div>
                            <div class="warning" id="quick_warning_alt" style="display: none;">
                                <span data-l10n-id="tabs_quick_keys_warning"></span>
                                <span data-l10n-id="tabs_quick_keys_warning_alt"></span>
                            </div>
                        </fieldset>
                        <div><label><input type="checkbox" id="quick_rocker"><span data-l10n-id="tabs_quick_rocker"></span></label></div>
                        <div><label><input type="checkbox" id="quick_selected"><span data-l10n-id="tabs_quick_selected"></span></label></div>
                        <div><label><input type="checkbox" id="quick_right"><span data-l10n-id="tabs_quick_right"></span></label></div>
                        <div><label><input type="checkbox" id="quick_multiWindow"><span data-l10n-id="tabs_result_multiWindow"></span></label></div>
                        <div class="warning" id="quick_warning_chrome" style="display: none;">
                            <span data-l10n-id="tabs_quick_keys_warning"></span>
                            <span data-l10n-id="tabs_quick_keys_warning_chrome"></span>
                        </div>
                    </div>
                    <div>
                        <fieldset>
                            <legend data-l10n-id="tabs_results_title"></legend>
                            <div><label><input type="radio" name="quick_method" id="quick_method0" value="0"><span data-l10n-id="tabs_results_syn"></span></label></div>
                            <div><label><input type="radio" name="quick_method" id="quick_method1" value="1"><span data-l10n-id="tabs_results_pocket"></span></label></div>
                            <div><label><input type="radio" name="quick_method" id="quick_method2" value="2"><span data-l10n-id="tabs_results_tab"></span></label></div>
                            <div><label><input type="radio" name="quick_method" id="quick_method3" value="3"><span data-l10n-id="tabs_results_mini"></span></label></div>
                        </fieldset>
                        <fieldset>
                            <legend data-l10n-id="tabs_results_micropanel_title"></legend>
                            <div><label><input type="radio" name="micro_method" id="micro_method0" value="0"><span data-l10n-id="tabs_results_syn"></span></label></div>
                            <div><label><input type="radio" name="micro_method" id="micro_method1" value="1"><span data-l10n-id="tabs_results_pocket"></span></label></div>
                            <div><label><input type="radio" name="micro_method" id="micro_method2" value="2"><span data-l10n-id="tabs_results_tab"></span></label></div>
                        </fieldset>
                    </div>
                </div>
                <div>
                    <div>
                        <label><input id="translation_useHttps" type="checkbox"><span data-l10n-id="tabs_language_use_https"></span></label>
                        <table id="translationsTableHead">
                            <tr><th data-l10n-id="tabs_language_list_label"></th><th width="150px" data-l10n-id="tabs_language_list_languagepair"></th></tr>
                        </table>
                        <div id="translationsTable">
                            <table>
                                <thead style="height: 0;overflow: hidden;"><td></td><td width="65px"></td></thead>
                                <tbody id="translation_list"></tbody>
                            </table>
                        </div>
                    </div>
                    <div>
                        <fieldset>
                            <legend data-l10n-id="tabs_language_modify_title"></legend>
                            <button class="full" id="moveUp" data-l10n-id="tabs_language_modify_up"></button>
                            <button class="full" id="moveDown" data-l10n-id="tabs_language_modify_down"></button>
                            <button class="full" id="editLabel" data-l10n-id="tabs_language_modify_edit"></button>
                            <button class="half1" id="remove" data-l10n-id="tabs_language_modify_remove"></button>
                            <button class="half2" id="clear" data-l10n-id="tabs_language_modify_removeAll"></button>
                        </fieldset>
                        <fieldset>
                            <legend data-l10n-id="tabs_language_add_title"></legend>
                            <table id="language_config_table">
                                <tr>
                                    <td width="10px" data-l10n-id="tabs_language_add_first_before"></td>
                                    <td>
                                        <select id="firstLanguage" data-l10n-id="tabs_language_add_first">
                                            <option value="EN">English</option>
                                            <option value="DE">German</option>
                                        </select>
                                    </td>
                                    <td width="80px"><button id="manual" data-l10n-id="tabs_language_add_manual"></button></td>
                                </tr>
                                <tr>
                                    <td data-l10n-id="tabs_language_add_second_before"></td>
                                    <td><select id="secondLanguage" data-l10n-id="tabs_language_add_second"></select></td>
                                    <td><button id="refresh" data-l10n-id="tabs_language_add_refresh"></button><progress id="loadingIndicator"></progress></td></tr>
                                <tr>
                                    <td data-l10n-id="tabs_language_add_direction_before"></td>
                                    <td>
                                        <select id="languageDirection" data-l10n-id="tabs_language_add_direction">
                                            <option data-l10n-id="tabs_language_add_direction_toBoth" value="both"></option>
                                            <option data-l10n-id="tabs_language_add_direction_toSecond" value="second"></option>
                                            <option data-l10n-id="tabs_language_add_direction_toFirst" value="first"></option>
                                        </select>
                                    </td>
                                    <td><button id="add" data-l10n-id="tabs_language_add_do"></button></td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div>
                    <p>
                        <span data-l10n-id="tabs_help_dict_text"></span>
                        <a href="http://users.dict.cc/Paul/" target="_blank">Paul Hemetsberger</a>
                    </p>
                    <p>
                        <span data-l10n-id="tabs_help_issues_text"></span><br/>
                        <a href="https://github.com/Lusito/dict.cc-translation/issues" target="_blank">https://github.com/Lusito/dict.cc-translation/issues</a>
                    </p>
                </div>
            </div>
            <div id="buttons">
                <button id="restore_defaults" data-l10n-id="button_restore_defaults"></button>
                <button id="save" data-l10n-id="button_save"></button>
                <button id="cancel" data-l10n-id="button_cancel"></button>
            </div>
        </div>
        <script src="../dist/options.js"></script>
    </body>
</html>
